.divtop{

    height: 20%;
    background-color: #d0e8f2;
    margin: 0px;
    margin-top: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 2%;
    padding-top: unset;

}
.divmid{
    background-color: #79a3b1;
    height: 200px;
    width: 200px;
    margin: 0px;
    margin-top: 0px;
    border-style: solid;
    border-top-style: none;
    border-width: 2px;
    border-color: black;
    padding: 2%;

}
.divbot{
    height: 200px;
    width: 200px;
    background-color: #456268;
    margin: 0px;
    margin-top: 0px;
    border-style: solid;
    border-top-style: none;
    border-width: 2px;
    border-color: black;
    padding: 2%;
body{
    background-color: #fcf8ec;

    margin: 0;

}

h1{

    margin-top: 0;
}